.App {
  background-color: blue;
  min-height: 100vh;

}
.container{
  width: 350px;
  margin: 0 auto;
  padding-top: 200px;
}
.generator{
  
  background-color: navy;
  border-radius: 3px;
  box-shadow: 0px 2px 10px rgba(255 , 255 , 255 , 0.2);
  padding:20px;
  
}
.pass{
  color: white;
  text-align: center;
  margin-bottom: 20px;

}
.password__generator{
  position: relative;
  background-color: rgba(0 , 0 , 0 , 0.4);
  padding: 13px 10px;
  color: white;
  height: 46px;
  margin-bottom: 15px;
}
.copy_btn{
  position: absolute;
  border:none;
  background-color: #3b3b98;
  color: #fff;
  height: 40px;
  right: 3px;
  top:3px;
  padding: 10px;
  cursor: pointer;

}
.generator__btn{
  background-color: #3b3b98;
  color:#fff;
  border: none;
  width: 100%;
  
  font-size: 20px;
  display: block;
  padding: 10px;
  cursor: pointer;
}
.form-group{
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;


}
